<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>761987247203-fb730ejbo0i8m4a7kurjc4tfdb6vlq37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761987247203-fb730ejbo0i8m4a7kurjc4tfdb6vlq37</string>
	<key>API_KEY</key>
	<string>AIzaSyCzXAL6rA-XiJ6Tq2cLK28qjKjfbv8Cuwc</string>
	<key>GCM_SENDER_ID</key>
	<string>761987247203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.letsbuild.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-a0c3b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-a0c3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:761987247203:ios:253956dc9c732d20</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-a0c3b.firebaseio.com</string>
</dict>
</plist>